.Smurfs {
    margin-top: 100px;
}
h1 {
    color: #0034B9;
    font-size: 60px;
}

.Smurf-List {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}

.Smurf {
    background-color: #0034B9;
    border: 1px solid #459be0;
    box-shadow: 0px 2px 20px 2px #459be0;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin: 5%;
    padding: 20px;
    color: #fdfdfd;
}

.SmurfForm {
    margin-top: 100px;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}